@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

input,
button {
	font-size: 70%;
	background-color: chocolate;
}

label {
	display: block;
	width: 300px;
	position: relative;
	line-height: 2em;
	font-weight: bold;
	font-style: italic;
	color: rgba(121, 228, 132, 0.94);
}

label input,
label select,
label textarea {
	position: absolute;
	left: 170px;
	top: 5px;
}

label.checkbox {
	padding-left: 170px;
}

label.checkbox input {
	position: static;
}

label.textarea {
	height: 4em;
}

label.textarea textarea {
	width: 400px;
	height: 3em;
	resize: none;
}
